<section style="display: inline">
  <h3>Preview List</h3>
  <a class="button-link" href="/new">New Contact</a><br>
  <a class="button-link" href="/view">View Contacts</a>
</section>

<br>

<main>
  <form action="/sort" method="post">
  <label for="sort">Sort by:</label>
  <select name="sort" id="sort">
    <% @sorting_options.each do |option| %>
      <option value="<%= option %>"><%= option %></option>
    <% end %>
  </select>
  <input type="submit" value="Sort">
  </form>


  <table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Email</th>
    <th>Category</th>
    <th>Delete</th>
  </tr>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact[:name] %></td>
      <td>
      <a href="tel:<%= contact[:number] %>"><%= contact[:number] %></a>
      </td>
      <td>
        <a href="mailto:<%= contact[:email] %>"><%= contact[:email] %></a>
      </td>
      <td><%= contact[:category] %></td>
      <td>
        <form method="post" action="/delete/<%= contact[:id] %>">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% end %>
    </table>

    <p>Showing all <%= @contacts.size %> contacts...</p>
    <a class="button-link" href="/">Home</a>
</main>